@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
            *{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: 'Poppins', sans-serif;
                background: #3E3E40;
            }
            li, a, button{
                font-weight: 500;
                font-size: 16px;
                color: #edf0f1;
                text-decoration: none;
            }
            header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 30px 10%;
            }
            .cta{
                padding: 7px 15px;
                background-color:#ff3c78;
                color:#edf0f1;
                border-radius: 9px;
                border: none;
                cursor: pointer;
                transition: all 0.3s ease 0s;
            }
            .del{
                padding: 4px 9px;
                background-color:#ff3c78;
                color:#edf0f1;
                border: none;
                border-radius: 7px;
            }
            .nav_links{
                list-style: none;
            }
            .nav_links li{
                display: inline-block;
                padding: 0px 20px;
            }
            .nav_links li a{
                transition: all 0.3s ease 0s;
            }
            .nav_links li a:hover{
                color: #ff3c78;
            }
            .logo{
                font-weight: 700;
                text-decoration: none;
                font-size: 2em;
                letter-spacing: 2px;
                transition: 0.6s;
                color: #edf0f1;
                padding: 0 5px;
                background: linear-gradient(to bottom, transparent 55%, #ff3c78 50%);
            }
            table{
                font-family: arial, sans-serif;
                margin-left: 25%;
                margin-top: 300px;
                border-spacing: 0;
                width:50%;
                border-collapse: collapse;
                border-radius: 8px;
                overflow: hidden;
                box-shadow: 1px 10px 100px 5px #ff3c78
            }
            th{
                color: white;
                height:35px;
            }
            td{
                height:25px;
                background-color: #fff;
            }
            table tr th,table tr td {
                /*border-right: 1px solid #dddddd;*/
                /*border-bottom: 1px solid #dddddd;*/
                padding: 5px;
            }
            table tr th {
                text-align: left;
                background-color: #ff3c78;
            }